// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightgrey: #ffffff;
$background: #edeaed;
$border: #d2d3d6;

body {
	background: $background;
}

.media.status {
	
	background: $lightgrey;
	border-radius: 3px;
	border: 1px solid $border;
	padding: 15px;
	
	.media-object {
		max-height: 75px;
		border-radius: 5px;
	}
	
	.admin {
		display: none;
	}
	
	&.hover {
		
	
		&.hover .admin {
			display: inline;
		}
	}
}

